<!-- extend base layout -->
{% extends "appbuilder/base.html" %}



{% block content %}
<style>
    .login-container {
        background-image: url(/static/assets/images/background.png);
        /*background:url(/static/assets/images/background.png) center/contain;*/
        background-size: 100% 100%;
        background-repeat: "no-repeat";
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top:0;
        display: flex;
        align-items: center;
    }
    #loginbox{
        width: 20%;
    }
    .input-group{
        background-color: #F8F8F8;
        border: 1px solid #CAD9E7;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    .input-group:active, .input-group:hover, .input-group:focus{
        border: 1px solid #1989FA;
    }
    .input-group-addon{
        background: inherit;
        border: none;
        color: #27435E33;
    }
    .form-control{
        background: inherit;
        border: none;
        box-shadow:none;
        pointer-devent:none;
    }
    input:hover,
    input:active,input:visited,
    input:focus {
        /* 取消hover和active状态的样式 */
        border: none!important; /* 如果需要保留边框，可以设置为初始颜色 */
        outline: none!important; /* 确保取消轮廓 */
        box-shadow:none!important;
    }
    .panel .panel-body{
        padding: 45px!important;
    }
</style>
<div class="login-container">
    <div id="loginbox" style="margin-right: 20px;padding: 0 20px" class="mainbox  col-md-offset-8 col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary" >
<!--            <div class="panel-heading">-->
<!--                <div class="panel-title">{{ title }}1111</div>-->
<!--            </div>-->
            <h3 style="padding-top: 50px" class="text-[26px] text-center font-bold text-gray-900">医疗模型训练平台</h3>
            <div style="padding-top:20px" class="panel-body" >

                <form class="form" action="" method="post" name="login">
                    {{form.hidden_tag()}}
<!--                    <div class="help-block">{{_("Enter your login and password below")}}:</div>-->
                    <div class="control-group{% if form.errors.openid is defined %} error{% endif %}">
<!--                        <label class="control-label" for="username">{{_("Username")}}:</label>-->
                        <div class="controls">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                {{ form.username(size = 80, class = "form-control", autofocus = true) }}
                            </div>
                            {% for error in form.errors.get('openid', []) %}
                            <span class="help-inline">[{{error}}]</span><br>
                            {% endfor %}
<!--                            <label class="control-label" for="password">{{_("Password")}}:</label>-->

                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                {{ form.password(size = 80, class = "form-control") }}
                            </div>
                            {% for error in form.errors.get('openid', []) %}
                            <span class="help-inline">[{{error}}]</span><br>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <br>
                            <div>
                                <input class="btn btn-primary btn-block" type="submit" value="{{_('Sign In')}}">
                                {% if appbuilder.sm.auth_user_registration %}
                                <a href="{{appbuilder.sm.get_url_for_registeruser}}" class="btn btn-block btn-primary" data-toggle="tooltip" rel="tooltip"
                                title="{{_('If you are not already a user, please register')}}">
                                    {{_('Register')}}
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
